 html,
 body {
     background-color: black;
     margin: 0;
     height: 100%;
      display: flex;
    justify-content: center;
    align-items: center;
     font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
 }

 .quote-area {
     margin: 80px 100px;
     padding: 5px;
     min-width: 400px;
     font-size: 26px;
     color: blue;
     border-radius: 10px;
     border: 2px solid white;

     display: flex;

     justify-content: center;
    
     align-items: center;
     
     white-space: normal;
     overflow-wrap: break-word;
     background-color: rgba(228, 171, 171, 0.05);
     
 }

 .father-container {
     display: flex;
     align-items: center;
     width: 800px;
     gap: 80px; 
 }

 .Button-switch button {
  margin-left: 50px;
  height: 100px;
  width: 200px;
  border-radius: 20px;
  cursor: pointer;
}

 