 html,
 body {
     background-color: black;
     margin: 0;
     height: 100%;
     font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
 }

 .quote-area {
     margin: 80px 150px;
     padding: 5px;
     width: 200px;

     font-size: 16px;
     color: blue;
     border-radius: 10px;
     border: 2px solid white;

     display: flex;

     justify-content: center;

     
     white-space: normal;
     overflow-wrap: break-word;
 }

 .father-container {
     display: flex;
     align-items: center;
     width: 800px;
     gap: 80px; 
 }

 .Button-switch button {
  margin-left: 50px;
}

 